site_name: ACOS Documentation
site_url: https://docs.acos.games
repo_url: https://github.com/acosgames
theme:
  favicon: img/favicon.ico
  name: material
  # custom_dir: 'theme'
  palette:
    primary: indigo
    accent: light blue
    scheme: slate

  logo: img/acos-logo-large.png
extra:
  homepage: https://acos.games
  analytics:
    provider: google
    property: G-HC09PY1QY2
markdown_extensions:
  - tables
  - def_list
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format
plugins:
  - markdownmermaid
extra_javascript:
  - https://unpkg.com/mermaid@7.1.2/dist/mermaid.min.js
nav:
  - Getting Started: index.md
  # - Development: development.md
  - 'Simulator': simulator.md
  - '- game-server': server.md
  - '- game-client': client.md
  - '- game state': gamestate.md
  - Ranking System: ranking.md
